@import './variables.scss';

:root {
  height: 100vh;

  &::before {
    content: "";
    background: $background;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
  }
}

body {
  position: relative;
  color: $text-color;
  margin: auto;
  max-width: $max-width;
  height: calc(100vh - 3.5rem);
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem 0;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}